@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 14px;
}
h4 {
    padding-bottom: 10px;
    font-size: 1.3rem;
   
    
}

h1 {
    font-size: 2rem;
}

h2  {
    font-size: 1.5rem;
}

